.post {
    width: 325px;
    padding: 5px;
    margin: 0px 15px 40px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.postImg {
    width: 315px;
    height: 280px;
    margin-top: 5px;
    object-fit: cover;
    border-radius: 10px;
}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postTitle {
    font-family: "Dancing Script", sans-serif;
    font-size: 32px;
    font-weight: 900;
    color: #444444;
    margin-top: 15px;
    cursor: pointer;
}

.postContent {
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #444444;
    margin: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}